<section class="section">
    <h2>Add Your Team</h2>
    <form id="addTeamForm">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="schoolName" class="form-control" />
        <label class="form-label" for="schoolName">School name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="schoolAbreviation" class="form-control" />
        <label class="form-label" for="schoolAbreviation">School abreviation</label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="teamName" class="form-control" />
    <label class="form-label" for="teamName">Team name</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="password" id="password2" class="form-control" />
    <label class="form-label" for="password2">Repeat password</label>
  </div>

  <!-- Submit button -->
  <button id="addTeamButton" type="submit" class="btn btn-primary btn-block mb-4">Add team</button>
</form>

</section>
<script src="/js/teams.js"></script>