<style>
  section.section{
    display: none;
  }
  .modal-body button{
    padding: 7px 12px;
  }
  .statInput{
    width: 55px;
    text-align: center;
  }
</style>
<div  id="rosterRow" class="row container-md">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <h2>Active Roster</h2>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each player}}
          <tr>
            <th scope="row">{{player_num}}</th>
            <td>{{player_name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <aside class="ms-5">
      Is this your team?<br />
      If so, enter your password:
      <div class="form-outline mt-2">
        <input type="password" id="form12" class="form-control" />
        <label class="form-label" for="form12">Password</label>
      </div>
      <button
        id="submitPass"
        type="button"
        class="btn btn-primary mt-2"
      >Submit</button>
    </aside>
  </div>
</div>
  <body>
     <section class="section">
       {{!--
       <h2>Add a player</h2>
    <form id="addPlayerForm">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="playerName" class="form-control" />
        <label class="form-label" for="playerName">Name: "John Doe"</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="playerNum" class="form-control" />
        <label class="form-label" for="playerNum">Jersey #</label>
      </div>
      
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="goals" class="form-control" />
    <label class="form-label" for="goals">Goals</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="assists" class="form-control" />
    <label class="form-label" for="assists">Assists</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="blocks" class="form-control" />
    <label class="form-label" for="blocks">Blocks</label>
  </div>
   <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="points_played" class="form-control" />
    <label class="form-label" for="points_played">Points Played</label>
  </div>
  <!-- Submit button -->
  <button id="addPlayerButton" type="submit" class="btn btn-primary btn-block mb-4">Add player</button>
</form>
 --}}

<div class="modal fade show" id="editPlayerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalInfo">Modal title</h5>
        <button id="xClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Goals: <button class="btn btn-danger" data-target="modalGoals">-</button> <input id="modalGoals" class="statInput" type="text" value="2"> <button data-target="modalGoals" class="btn btn-success">+</button></p>
          <p>Assists: <button class="btn btn-danger" data-target="modalAssists">-</button> <input id="modalAssists" class="statInput" type="text" value="2"> <button data-target="modalAssists" class="btn btn-success">+</button></p>
          <p>Blocks: <button class="btn btn-danger" data-target="modalBlocks">-</button> <input id="modalBlocks" class="statInput" type="text" value="2"> <button data-target="modalBlocks" class="btn btn-success">+</button></p>
          <p>Points Played: <button class="btn btn-danger"  data-target="modalPoints_played">-</button> <input id="modalPoints_played" class="statInput" type="text" value="2"> <button data-target="modalPoints_played" class="btn btn-success">+</button></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveStatButton" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  
</div>
  

{{!-- Beginning of add player modal --}}

<div id="addPlayerModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h5 class="center">Add Player</h5>
        {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> --}}
           </div>
      <div class="modal-body">
    <form id="addPlayerForm">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="playerName" class="form-control" />
        <label class="form-label" for="playerName">Name: "John Doe"</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="playerNum" class="form-control" />
        <label class="form-label" for="playerNum">Jersey #</label>
      </div>   
    </div>
  </div>
  <!-- Submit button -->
  <button id="addPlayerButton" type="submit" class="btn btn-primary btn-block mb-4">Add player</button>
</form>
      </div>
    </div>
  </div>
  </div>
  </section>


<script>
var modal = document.getElementById("addPlayerModal");
var btn = document.getElementById("addPlayerModalButton");
var span = document.getElementsByClassName("close")[0];

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script src="/js/roster.js"></script>